


.adicionar {
    display: flex;
    padding-left: 79%;
    padding-bottom: 12px;
    justify-content: space-between;
    align-content: space-around;
}

#verSenhaLogin, #ocultarSenhaLogin, #verSenha, #ocultarSenha, #verConfirmSenha, #ocultarConfirmSenha {
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;
}

#verSenhaLogin, #verSenha, #verConfirmSenha {
    color: red; !important;
}

#ocultarSenhaLogin, #ocultarSenha, #ocultarConfirmSenha {
    color: green;

}





