


.adicionar {
    display: flex;
    padding-left: 79%;
    padding-bottom: 12px;
    justify-content: space-between;
    align-content: space-around;
}

#verSenhaLogin, #ocultarSenhaLogin, #verSenha, #ocultarSenha, #verConfirmSenha, #ocultarConfirmSenha {
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;
}

#verSenhaLogin, #verSenha, #verConfirmSenha {
    color: red; !important;
}

#ocultarSenhaLogin, #ocultarSenha, #ocultarConfirmSenha {
    color: green;

}

.demo {
    text-align: center;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    display: none;
}




